<h1>Flights#index</h1>
<p>Find me in app/views/flights/index.html.erb</p>

<ul>
  <% @flights.each do |flight| %>
    <li>
      <%= flight.departure_airport.airport_code %> to <%= flight.arrival_airport.airport_code %> on <%= flight.start %>
    </li>
    <% end %>
</ul>

<%= form_with url: "/flights", method: :get do |form| %>
  <%= form.label(:departure_airport, 'From:') %>
  <%= form.select :departure_airport_id, Airport.order(:airport_code).map { |airport| [airport.airport_code, airport.id] } %>
  <%= form.label(:arrival_airport, 'To:') %>
  <%= form.select :arrival_airport_id, Airport.order(:airport_code).map { |airport| [airport.airport_code, airport.id] } %>
  <%= form.label(:start, "Date:") %>
  <%= form.select "start", options_from_collection_for_select(Flight.get_flight_dates, 'start', :flight_date_formatted) %>
  <%= form.label(:passenger_num, "Passengers:") %>
  <%= form.select :passenger_num, options_for_select([[1, 1], [2, 2], [3, 3], [4, 4]]) %>
  <%= form.submit 'Search' %>
<% end %>
